openapi: 3.1.0
info:
  title: Gatcha API
  version: 1.0.0
  description: Gamification backend for Microsoft Teams app

servers:
  - url: https://api.gatcha.app/v1

tags:
  - name: Auth
  - name: SuperAdmin
  - name: GameAdmin
  - name: Player

security:
  - bearerAuth: []

paths:

  /auth/login:
    post:
      tags: [Auth]
      summary: Validate Azure token and issue app JWT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: JWT issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"

  /companies:
    post:
      tags: [SuperAdmin]
      summary: Create a new company tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCompanyRequest"
      responses:
        "201":
          description: Company created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyDto"
    get:
      tags: [SuperAdmin]
      summary: List all companies
      responses:
        "200":
          description: Companies list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesResponse"

  /companies/stats:
    get:
      tags: [SuperAdmin]
      summary: Global stats
      responses:
        "200":
          description: Global platform stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalStatsResponse"

  /games/dashboard:
    get:
      tags: [GameAdmin]
      summary: Dashboard stats and recent activity
      responses:
        "200":
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameDashboardResponse"

  /games:
    post:
      tags: [GameAdmin]
      summary: Create a new game context
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGameRequest"
      responses:
        "201":
          description: Game created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameDto"

  /games/{gameId}/players/csv:
    post:
      tags: [GameAdmin]
      summary: Upload players CSV
      parameters:
        - in: path
          name: gameId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UploadPlayersCsvRequest"
      responses:
        "200":
          description: CSV processed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadPlayersCsvResponse"

  /games/{gameId}/missions:
    post:
      tags: [GameAdmin]
      summary: Create a mission template
      parameters:
        - in: path
          name: gameId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMissionTemplateRequest"
      responses:
        "201":
          description: Mission template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MissionTemplateDto"

  /games/{gameId}/start:
    post:
      tags: [GameAdmin]
      summary: Start the game and assign missions
      parameters:
        - in: path
          name: gameId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Game started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartGameResponse"

  /me/assignment:
    get:
      tags: [Player]
      summary: Get current active assignment
      responses:
        "200":
          description: Current assignment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentAssignmentResponse"

  /assignments/{id}/complete:
    post:
      tags: [Player]
      summary: Mark mission as done
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteAssignmentRequest"
      responses:
        "204":
          description: Assignment completed

  /assignments/{id}/reroll:
    post:
      tags: [Player]
      summary: Request a mission reroll
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RerollAssignmentRequest"
      responses:
        "200":
          description: New assignment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignmentDto"

  /me/approvals:
    get:
      tags: [Player]
      summary: Get assignments pending my approval
      responses:
        "200":
          description: Pending approvals
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalsResponse"

  /assignments/{id}/verify:
    post:
      tags: [Player]
      summary: Verify a completed mission
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyAssignmentRequest"
      responses:
        "204":
          description: Verification recorded

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    LoginRequest:
      type: object
      required: [azureToken]
      properties:
        azureToken:
          type: string

    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string

    CreateCompanyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true

    CompanyDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true

    CompaniesResponse:
      type: object
      properties:
        companies:
          type: array
          items:
            $ref: "#/components/schemas/CompanyDto"

    GlobalStatsResponse:
      type: object
      properties:
        totalPlayers:
          type: integer
        totalGames:
          type: integer

    GameDashboardResponse:
      type: object
      properties:
        activePlayers:
          type: integer
        gamesInProgress:
          type: integer
        recentActivity:
          type: array
          items:
            $ref: "#/components/schemas/ActivityLogDto"

    ActivityLogDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        message:
          type: string
        createdAt:
          type: string
          format: date-time

    CreateGameRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        startsAt:
          type: string
          format: date-time
          nullable: true

    GameDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
        createdAt:
          type: string
          format: date-time

    UploadPlayersCsvRequest:
      type: object
      required: [file]
      properties:
        file:
          type: string
          format: binary

    UploadPlayersCsvResponse:
      type: object
      properties:
        createdCount:
          type: integer
        skippedCount:
          type: integer

    CreateMissionTemplateRequest:
      type: object
      required: [title, description]
      properties:
        title:
          type: string
        description:
          type: string
        rewardCoins:
          type: integer
          nullable: true

    MissionTemplateDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        rewardCoins:
          type: integer
          nullable: true

    StartGameResponse:
      type: object
      properties:
        startedAt:
          type: string
          format: date-time
        assignmentsCreated:
          type: integer

    AssignmentStatus:
      type: string
      enum: [active, completed, pending_approval, rejected]

    AssignmentDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        targetUserId:
          type: string
          format: uuid
        targetName:
          type: string
        missionTitle:
          type: string
        missionDescription:
          type: string
        status:
          $ref: "#/components/schemas/AssignmentStatus"

    CurrentAssignmentResponse:
      type: object
      properties:
        assignment:
          $ref: "#/components/schemas/AssignmentDto"

    CompleteAssignmentRequest:
      type: object
      properties:
        proof:
          type: string
          nullable: true

    RerollAssignmentRequest:
      type: object
      properties:
        reason:
          type: string
          nullable: true

    ApprovalAssignmentDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        executorName:
          type: string
        missionTitle:
          type: string
        status:
          $ref: "#/components/schemas/AssignmentStatus"

    ApprovalsResponse:
      type: object
      properties:
        assignments:
          type: array
          items:
            $ref: "#/components/schemas/ApprovalAssignmentDto"

    VerifyAssignmentRequest:
      type: object
      required: [verdict]
      properties:
        verdict:
          type: string
          enum: [CONFIRM, REJECT]
